@tailwind base;
@tailwind components;
@tailwind utilities;

/* //{------------SWIPER---------------- */
.swiper-button-next {
  display: none !important;
  opacity: 0 !important;
}
.swiper-button-prev {
  display: none !important;
  opacity: 0 !important;
}

.swiper-container,
.swiper,
.swiper-slider {
  /* z-index: -99 !important; */
}

/* //{--------------LOADIND  page-------------- */
.my_loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}
/* //{---------------------------- */

/* //{--------------LOADIND  page-------------- */
.my_loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}
/* //{---------------------------- */
